/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

body {
  background-color: #1f1f2e;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button {
  font-family: "area-normal", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  display: flex;
  color: white;
  background-color: #9b9bdc;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  transition: ease-out 0.15s, box-shadow ease-out 0.15s, color 0.4s;
  box-shadow: 0 2px 25px #000000;
}

.button:hover {
  transform: scale(1.03);
}

.button:active {
  transform: scale(0.95);
}

a:active,
.fa-solid:active,
.button:active {
  color: #3f3fb0;
}

a {
  text-decoration: none;
  transition: color 0.4s;
}

.fa-solid {
  text-align: center;
  color: white;
  padding: 8px 0 8px 10px;
  transition: color 0.4s;
}
